/* ##################################################################### */
/* #                            DESKTOP                                # */
/* ##################################################################### */

body {
    background-image: url("images/frontPage.png");
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    background-color:white;
    min-height: 100vh;
    position: relative;
    /* padding-bottom: 100px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0px;
}
/* 
main {
	width: 80%;
	margin: 20px auto;
	padding: 30px 20px;
} */


/* ########### Code for top menu bar ############# */


.title{
    margin-top: 150px;
    width: 100%;
    height: 450px;
    background-color: #1f9fba;
    text-align: center;
}

.empty {
    background-color: #1f9fba;
    height: 50px;
    width: 100%;
}

.letters-up {
    font-size: 25px;
    color: white;
}

.letters-middle {
    font-weight: 500;
    font-size: 70px;
    padding: 15px;
    color: white;
}

.letters-middle .letter {
    display: inline;
    line-height: 1em;
}

.letters-down {
    margin-top: 7px;
    font-size: 30px;
    color: white;
}

.empty2 {
    background-color: #1f9fba;
    height: 100px;
    width: 100%;
}


.text {
    display: inline;
    font-size: 40px;
    font-weight: 300;
}

.here {
    color: #d7933a;
    display:inline;
}

.learning {
    color: #5f54a1;
    display:inline;
}

.become {
    color: #89c64c;
    display:inline;
}

.game {
    color: #c1343e;
    display:inline;
}

.front_boxes {
    grid-area: front_boxes;
    display: grid;
    grid-auto-rows: 300px;
    grid-template-columns: 1fr 300px 1fr 300px 1fr 300px 1fr;
    grid-template-areas:
    ". kids . students . adults .";
    width: 100%;
    margin: 65px auto;
}

.front_boxes a{
    text-decoration: none;
}

.kids {
    grid-area: kids;
    background-color: #fc8f44;
    width: 97%;		
    height: 97%;
    text-align: center;
    justify-self: center;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}

.kids h1 {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.kids:hover {
    width: 102%;
    height: 102%;
}

.students {
    grid-area: students;
    background-color: #fc8f44;
    width: 97%;
    height: 97%;
    text-align: center;
    justify-self: center;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;

    transition: all 0.5s ease;
}

.students h1 {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.students:hover {
    width: 102%;
    height: 102%;
}

.adults {
    grid-area: adults;
    background-color: #fc8f44;
    width: 97%;
    height: 97%;
    text-align: center;
    justify-self: center;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;

    transition: all 0.5s ease;
}

.adults h1 {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.adults:hover {
    width: 102%;
    height: 102%;
}

/* footer {
	display: block;
	text-align: center;
	background-color: rgb(0, 0, 0);
	position: absolute;
	bottom: 0;
	height: 130px;
  width: 100%;
} */


/* ATTEMPT FOR BOOTSTRAP MODAL */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-dialog {
      /* width: 60%; */
      text-align: center;
}
  /* Modal Content/Box */
.modal-content {
    font-size: 30px;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 50px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

.modal-title {
    margin-bottom: 15px;
}

.modal-body {
    margin-bottom: 15px;
}
  
  /* The Close Button */
.close {
    top: 0;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.more{
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: fit-content;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.more span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.more span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.more:hover span {
    padding-right: 25px;
}

.more:hover span:after {
    opacity: 1;
    right: 0;
}

.more a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* .collage {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
    grid-template-rows: 10px auto 50px;
    grid-template-areas: 
    ". . ."
    ". photos ."
    ". . .";
} */

.photos {
    background-color: white;
    margin: 15px 0;
    justify-self: center;
}

.slideshow_container {
    grid-area: slideshow_container;
    position: block;
    margin: 10px auto;
    padding: 25px;
    width: 1000px;
    justify-self: center;
}

.slideshow_container .shadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.37), 0 2px 10px 0 rgba(0, 0, 0, 0.288);
}

img {
    vertical-align: middle;
    margin: auto;
    height: 650px;
}



/* ##################################################################### */
/* #                            MOBILE                                 # */
/* ##################################################################### */

@media screen and (max-width: 824px){

    .title {
        margin-top: 0px;
        width: 100%;
        height: 150px;
    }

    .letters-up{
        padding-top: 30px;
        font-size: 15px;
    }
    .letters-middle{
        padding: 10px;
        font-size: 32px;
        font-weight: 600;
    }
    .letters-down{
        font-size: 15px;
    }
    .text{
        display: none;
    }
    .empty{
        display: none;
    }
    .empty2{
        display: none;
    }

    .front_boxes{
        justify-self: center;
        /* width: 95%; */
        margin: 40px auto;
        grid-template-rows: 20px 100px 20px 100px 20px 100px 20px;
        grid-template-columns: 10px auto 10px;
        grid-template-areas:
        ". . ."
        ". kids ."
        ". . ."
        ". students ."
        ". . ."
        ". adults ."
        ". . .";
    }

    .kids, .students, .adults{
        justify-self: center;
    }
    .kids h1, .students h1, .adults h1{
        margin-top: 30px;
        font-size: 20px;
    }

    .modal-content {
        width: 75%;
        padding: 15px;
    }

    .modal-title {
        font-size: 25px;
        
    }

    .modal-body p {
        font-size: 20px;
    }

    .close {
        display: none;
    }

    .more {
        width: 80%;
    }

    .more a {
        font-size: 20px;
    }

    img{
        height: 250px;
    }

    .slideshow_container {
        width: 95%;
        padding: 15px 5px;
    }

}