/* ##################################################################### */
/* #                            DESKTOP                                # */
/* ##################################################################### */

body {
    background-image: url("images/frontPage.png");
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    background-color:white;
}

/* ############ Code for the Header ############# */

.menu {
    position: fixed;
    display: grid; 
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: #1f9fba;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 175px 70px 175px 70px 175px 70px 175px 70px 175px 1fr;
    grid-template-areas: 
    ". home . languages . crew . offers . contact .";
}

.topnav{
    display: none;
}

.icon {
	display: none;
}

/* ########### Code for top menu bar ############# */

.home {
    margin-top: 30px;
    grid-area: home;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

.home h1{
    color: white;
}

.home h1:hover {
    color: white;
}

.languages {
    margin-top: 30px;
    grid-area: languages;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

.languages h1{
    color: #166287;
}

.languages h1:hover {
    color: white;
}

.crew {
    margin-top: 30px;
    grid-area: crew;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

.crew h1{
    color: #166287;
}

.crew h1:hover {
    color: white;
}

.offers {
    margin-top: 30px;
    grid-area: offers;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

.offers h1{
    color: #166287;
}

.offers h1:hover {
    color: white;
}

.contact {
    margin-top: 30px;
    grid-area: contact;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

.contact h1{
    color: #166287;
}

.contact h1:hover {
    color: white;
}

.title{
    margin-top: 200px;
    width: 100%;
    height: 450px;
    background-color: #1f9fba;
    text-align: center;
}

.empty {
    background-color: #1f9fba;
    height: 50px;
    width: 100%;
}

.letters-up {
    font-size: 25px;
    color: white;
}

.letters-middle {
    font-weight: 500;
    font-size: 75px;
    padding: 15px;
    color: white;
}

.letters-middle .letter {
    display: inline;
    line-height: 1em;
}

.letters-down {
    margin-top: 7px;
    font-size: 30px;
    color: white;
}

.empty2 {
    background-color: #1f9fba;
    height: 100px;
    width: 100%;
}


.text {
    display: inline;
    font-size: 40px;
    font-weight: 300;
}

.here {
    color: #d7933a;
    display:inline;
}

.learning {
    color: #5f54a1;
    display:inline;
}

.become {
    color: #89c64c;
    display:inline;
}

.game {
    color: #c1343e;
    display:inline;
}

.front_boxes {
    margin-top: 100px;
    margin-bottom: 100px;
    grid-area: front_boxes;
    display: grid;
    grid-auto-rows: 300px;
    grid-template-columns: 1fr 300px 1fr 300px 1fr 300px 1fr;
    grid-template-areas:
    ". kids . students . adults .";
    width: 100%;
}

.kids {
    grid-area: kids;
    background-color: #fc8f44;
    width: 97%;		
    height: 97%;
    text-align: center;
    justify-self: center;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}

.kids h1 {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.kids:hover {
    width: 102%;
    height: 102%;
}

.students {
    grid-area: students;
    background-color: #fc8f44;
    width: 97%;
    height: 97%;
    text-align: center;
    justify-self: center;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;

    transition: all 0.5s ease;
}

.students h1 {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.students:hover {
    width: 102%;
    height: 102%;
}

.adults {
    grid-area: adults;
    background-color: #fc8f44;
    width: 97%;
    height: 97%;
    text-align: center;
    justify-self: center;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;

    transition: all 0.5s ease;
}

.adults h1 {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.adults:hover {
    width: 102%;
    height: 102%;
}

footer {
	display: block;
	text-align: center;
	background-color: rgb(0, 0, 0);
	position: relative;
	bottom: 0;
	height: 150px;
	width: 100%;
}

/* ##################################################################### */
/* #                            MOBILE                                 # */
/* ##################################################################### */

@media screen and (max-width: 824px){

    .menu{
        display: none;
    }

    .topnav{
        display: block;
        justify-content: center;
    }
    .topnav #mobile {
		display: none;
    }
    .topnav #mobile a {
		/* padding: 7px 10px; */
		text-decoration: none;
		font-size: 20px;
		display: block;
		/* position: relative; */
    }
    .topnav #mobile {
        position: relative;
        top: 0pxs;
        background-color: #1f9fba;
        justify-content: center;
        grid-template-rows: 5px;
		grid-template-columns: 300px;
		grid-template-areas:
		"."
		"home"
		"languages"
		"crew"
		"offers"
		"contact"
		".";
    }

    .icon {
		padding: 15px 17px;
		color: white;
		background: #1f9fba;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}

    .title {
        margin-top: 0px;
        width: 100%;
        height: 150px;
    }

    .letters-up{
        padding-top: 30px;
        font-size: 15px;
    }
    .letters-middle{
        padding: 10px;
        font-size: 32px;
        font-weight: 600;
    }
    .letters-down{
        font-size: 15px;
    }
    .text{
        display: none;
    }
    .empty{
        display: none;
    }
    .empty2{
        display: none;
    }

    .front_boxes{
        justify-self: center;
        width: 95%;
        grid-template-rows: 20px 100px 20px 100px 20px 100px 20px;
        grid-template-columns: 10px auto 10px;
        grid-template-areas:
        ". . ."
        ". kids ."
        ". . ."
        ". students ."
        ". . ."
        ". adults ."
        ". . .";
    }

    .kids, .students, .adults{
        margin-top: -70px;
        justify-self: center;
        /* font-size: 20px; */
    }
    .kids h1, .students h1, .adults h1{
        margin-top: 30px;
        font-size: 20px;
    }

    footer{
        /* margin-top: 100px; */
    }
}