/* ##################################################################### */
/* #                            DESKTOP                                # */
/* ##################################################################### */

body {
    background-image: url("images/frontPage.png");
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    background-color:white;
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0px;
}

/* ########### Code for top menu bar ############# */


.title{
    margin-top: 150px;
    width: 100%;
    height: 450px;
    background-color: #1f9fba;
    text-align: center;
}

.empty {
    background-color: #1f9fba;
    height: 50px;
    width: 100%;
}

.letters-up {
    font-size: 25px;
    color: white;
}

.letters-middle {
    font-weight: 500;
    font-size: 75px;
    padding: 15px;
    color: white;
}

.letters-middle .letter {
    display: inline;
    line-height: 1em;
}

.letters-down {
    margin-top: 7px;
    font-size: 30px;
    color: white;
}

.empty2 {
    background-color: #1f9fba;
    height: 100px;
    width: 100%;
}


.text {
    display: inline;
    font-size: 40px;
    font-weight: 300;
}

.here {
    color: #d7933a;
    display:inline;
}

.learning {
    color: #5f54a1;
    display:inline;
}

.become {
    color: #89c64c;
    display:inline;
}

.game {
    color: #c1343e;
    display:inline;
}

.front_boxes {
    grid-area: front_boxes;
    display: grid;
    grid-auto-rows: 300px;
    grid-template-columns: 1fr 300px 1fr 300px 1fr 300px 1fr;
    grid-template-areas:
    ". kids . students . adults .";
    width: 100%;
}

.front_boxes a{
    text-decoration: none;
}

.kids {
    grid-area: kids;
    background-color: #fc8f44;
    width: 97%;		
    height: 97%;
    text-align: center;
    justify-self: center;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}

.kids h1 {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.kids:hover {
    width: 102%;
    height: 102%;
}

.students {
    grid-area: students;
    background-color: #fc8f44;
    width: 97%;
    height: 97%;
    text-align: center;
    justify-self: center;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;

    transition: all 0.5s ease;
}

.students h1 {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.students:hover {
    width: 102%;
    height: 102%;
}

.adults {
    grid-area: adults;
    background-color: #fc8f44;
    width: 97%;
    height: 97%;
    text-align: center;
    justify-self: center;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;

    transition: all 0.5s ease;
}

.adults h1 {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.adults:hover {
    width: 102%;
    height: 102%;
}

/* footer {
	display: block;
	text-align: center;
	background-color: rgb(0, 0, 0);
	position: absolute;
	bottom: 0;
	height: 130px;
  width: 100%;
} */
.info {
    display: grid;
    position: relative;
    justify-self: center;
    bottom: 0;
    /* SOS */
    /* margin-top: 100%; */
    width: 100%;
    height: 200px;
    background-color: #000;
    grid-auto-rows: 200px;
    grid-template-columns: auto;
    grid-template-areas:
    ". programms . information .";
}
.programms {
    grid-area: programms;
    margin-top: 10px;
    margin-left: 15%;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-self: center;
}
.programms p{
    padding: 5px;
}
.programms a{
    color: white;
}

.information {
    grid-area: information;
    margin-top: 10px;
    margin-left: 15%;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-self: center;
}

.information p{
    padding: 5px;
}

.loc{
    width: 30px;
    height: 30px;
}

.ph{
    width: 30px;
    height: 30px;
}

.em{
    width: 30px;
    height: 30px;
}

/* ##################################################################### */
/* #                            MOBILE                                 # */
/* ##################################################################### */

@media screen and (max-width: 824px){

    .title {
        margin-top: 0px;
        width: 100%;
        height: 150px;
    }

    .letters-up{
        padding-top: 30px;
        font-size: 15px;
    }
    .letters-middle{
        padding: 10px;
        font-size: 32px;
        font-weight: 600;
    }
    .letters-down{
        font-size: 15px;
    }
    .text{
        display: none;
    }
    .empty{
        display: none;
    }
    .empty2{
        display: none;
    }

    .front_boxes{
        justify-self: center;
        /* width: 95%; */
        grid-template-rows: 20px 100px 20px 100px 20px 100px 20px;
        grid-template-columns: 10px auto 10px;
        grid-template-areas:
        ". . ."
        ". kids ."
        ". . ."
        ". students ."
        ". . ."
        ". adults ."
        ". . .";
    }

    .kids, .students, .adults{
        justify-self: center;
    }
    .kids h1, .students h1, .adults h1{
        margin-top: 30px;
        font-size: 20px;
    }

    .info{
        grid-template-columns:auto;
        grid-template-areas:
        ". information .";
        justify-content: center;
        text-align: center;

    }
    .programms{
        display: none;
    }
    .information{
        text-align: center;
        font-size: 15px;
    }

    .loc, .ph, .em{
        width: 20px;
        height: 20px;
    }

}